.main-container {
  margin-top: 10px;
}

.input-xml {
  border: 1px solid #333;
  padding: 10px;
  margin-top: 10px;
}

.button-submit {
  margin-top: 20px;
  background-color: #6db0dd;
  border-radius: 5px;
}